.banner {
    background-image: url('../../../images/banner-img-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

.banner-header {
    padding-top: 100px;
    font-size: 70px;
    font-weight: bold;
}
.span-1{
    color: orange;
}
.span-2{
    color: lightseagreen;
}
.banner-p{
    padding:0px 350px 0px 450px;
    text-align: left;
    font-size: 20px;
    color: black;
}